.comment-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.comment-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.profile-info{
    display: flex;
    gap: 5px;
    align-items: center;

}
.comment-date{
    font-size: 0.9rem;

}
.profile-username-comment{
    font-size: 0.8rem !important;
}