.outlet-container{
    height: calc(100vh - 60px);
    overflow: scroll;
    background-color: #DDE6ED;
    padding-bottom: 20px;
    box-sizing: border-box;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.outlet-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
